.App {
  text-align: center;
  color: #1DB954;
}

.display {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px 100px 100px 100px;
}

.item {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
}

.item > img {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
}

.loginPage {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
}

.loginButton {
  display: block;
  color: white;
  background-color: #1DB954;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin: auto;
}
